@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Spotify";
  src: local("Spotify"), url(./fonts/Heebo-Regular.ttf) format("TrueType");
}

* {
  font-family: "Spotify";
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.Main {
  height: 100vh;
  width: 100vw;
}

.background-small {
  position: absolute;
  top: 16.5%;
  height: 65%;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 1px 1px 12px #150625;
}

.background-large {
  position: absolute;
  height: 100%;
  width: 100%;
}

.navigation-icon {
  position: absolute;
  top: 5.5%;
  right: 3vh;
  width: 5vh;
  height: 5vh;
  animation: boxRotate 4s infinite;
  opacity: 0.8;
}

.navigation-icon-container {
  position: absolute;
  top: 15%;
  right: 1.5vh;
  width: 8vh;
  height: 40%;
}

.navigation-icon-container img {
  position: relative;
  margin: auto;
  width: 5vh;
  height: 5vh;
  margin-bottom: 25%;
  animation: boxTurn 9s infinite;
  opacity: 0.8;
}

@keyframes boxTurn {
  33% {
    transform: rotate(45deg);
  }
  66% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes boxRotate {
  50% {
    transform: rotate(180deg);
  }
}

.player {
  position: absolute;
  color: white;
  overflow: visible;
  width: 25%;
  height: 12%;
  left: 37.5%;
  top: 83%;
  text-align: center;
}

.audio-bar {
  position: relative;
  top: 8%;
  margin: auto;
  width: 80%;
}

.audio-icon {
  position: relative;
  margin-top: 5%;
  display: inline;
  width: 3vh;
  height: 3vh;
  margin-left: 6%;
}

.main-clock {
  padding: 2rem;
  font-size: 8rem; /* 128px */
  line-height: 1;
}

.main-second {
  top: 1.5vh;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.main-canvas {
  position: absolute;
  top: 1%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.register {
  position: absolute;
  bottom: 10%;
  left: 8%;
}

.register-header {
  height: 12%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.register-container {
  width: 90%;
  height: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.register-container-1 {
  margin: auto;
  flex-direction: column;
}

.register-item {
  height: 100%;
  width: 100%;
}

.register-footer {
  height: 8%;
  width: 100%;
}

.register-footer-button {
  text-align: center;
}

input {
  color: black;
}

input[type="text"],
input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  outline: none;
  text-decoration: none;
}

.playlist-container {
  position: absolute;
  top: 27.5%;
  right: 8%;
  width: 18%;
  height: 45%;
  display: flex;
  flex-direction: column;
}

.playlist-navigation {
  height: 10%;
  width: 100%;
  text-align: center;
}

.playlist {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
}

.playlist-item-container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.playlist-scrollbar {
  height: 100;
  width: 10%;
}

.playlist-footer {
  height: 10%;
  width: 100%;
  text-align: center;
}

.playlist-item {
  width: 85%;
  margin: auto;
}

.playlist-scrollbar img {
  opacity: 0.85;
  margin: auto;
  height: 100%;
  width: 100%;
}

.playlist-scrollbar-icons {
  position: relative;
  width: 80%;
  height: 7.5%;
  margin: auto;
  margin-top: 15%;
  animation: 10s float infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(5px);
  }
  75% {
    transform: translatey(-2.5px);
  }
  100% {
    transform: translatey(0px);
  }
}
