@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.Main {
  height: 100vh;
  width: 100vw;
}

.background-small {
  position: absolute;
  top: 16.5%;
  height: 65%;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 1px 1px 12px #150625;
}

.background-large {
  position: absolute;
  height: 100%;
  width: 100%;
}

.navigation-icon {
  position: absolute;
  top: 5.5%;
  right: 3vh;
  width: 5vh;
  height: 5vh;
  animation: boxRotate 4s infinite;
  opacity: 0.8;
}

.navigation-icon-container {
  position: absolute;
  top: 15%;
  right: 1.5vh;
  width: 8vh;
  height: 40%;
}

.navigation-icon-container img {
  position: relative;
  margin: auto;
  width: 5vh;
  height: 5vh;
  margin-bottom: 25%;
  animation: boxTurn 9s infinite;
  opacity: 0.8;
}

@keyframes boxTurn {
  33% {
    transform: rotate(45deg);
  }
  66% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes boxRotate {
  50% {
    transform: rotate(180deg);
  }
}

.player {
  position: absolute;
  color: white;
  overflow: visible;
  width: 25%;
  height: 12%;
  left: 37.5%;
  top: 83%;
  text-align: center;
}

.player p {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.audio-bar {
  position: relative;
  top: 8%;
  margin: auto;
  width: 80%;
}

.audio-icon {
  position: relative;
  margin-top: 5%;
  display: inline;
  width: 3vh;
  height: 3vh;
  margin-left: 6%;
}

.main-clock {
  padding: 2rem;
  font-size: 8rem; /* 128px */
  line-height: 1;
}

.main-second {
  top: 1.5vh;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.main-canvas {
  position: absolute;
  top: 1%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.register {
  position: absolute;
  top: 27.5%;
  left: 8%;
  width: 18%;
  height: 45%;
}

input {
  color: black;
}

.register-container {
  width: 85%;
  margin: auto;
}

input[type="text"],
input[type="text"]:focus {
  margin-bottom: 2.5%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  outline: none;
  text-decoration: none;
}

.submit-button {
}

.playlist {
  position: absolute;
  top: 27.5%;
  right: 8%;
  width: 18%;
  height: 45%;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  border-radius: 2px;
}

.playlist-container {
  width: 100%;
  height: 78%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.playlist-title {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.playlist-footer {
  text-align: center;
  padding: 5px;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.playlist-item {
  width: 90%;
  margin: auto;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  margin-bottom: 2.5%;
}

.playlist-item-container {
  margin-top: 5px;
  width: 90%;
}

.playlist-scroll {
  width: 10%;
}
